spring:
  application:
    name: LostIn-Auth
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:postgresql://localhost:5432/lostinauth
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  profiles:
    active: dev

  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}


server:
  port: 8080